.destinations-section
  position relative

  .row-fluid
    overflow hidden

  .btn-transparent-gray
    display block;
    width 300px
    center(50px)
    font-weight bold

.destination-item
.boat-item
  position relative
  margin-top 20px
  height 350px
  background-color $font-white
  border-radius 5px
  z-index 10
  overflow hidden
  cursor pointer

  .mask img
    transition all 0.3s ease-in-out

  &::after
    content ""
    position absolute
    bottom 0
    background-color alpha(black, 50%)
    transition all 0.3s ease-in-out
    z-index -1
    size(100%, 30px)
    centralizer(true, false)

  &:hover::after
    size(100%, 150px)

  &:hover .mask > img
    size(105%)

  .destination-desc
  .boat-desc
    margin 170px 0 0 10px
    color white

    a
      color white
      display block
      font-size 30px
      text-decoration none
      transition color 0.2s ease-in-out

      &:hover
        color $accent-color

    p
      padding-top 5px
      font-size 16px
      font-weight normal

  img
    size(100%)

  .btn-transparent-red
    margin 20px
    padding 10px
    color white
    font bold 14px Arial, "sans-serif"

    img
      position relative
      display inline-block
      margin-right 5px
      size(14px)
      z-index 1
