// Colors
$accent-color       = #e7434e
$gray-color         = #404040
$border-color       = #bdbdbd
$font-color         = #343434
$font-white         = #f9fafe

// Fonts
$Raleway            = 'Raleway', sans-serif


