$icon-font-path = "~bootstrap-styl/fonts/"
@import "bootstrap"
@import "nib"

// Base
@import "base/fonts"
@import "base/variables"
@import "base/mixins"
@import "base/core"

// Components
@import "components/helpers"
@import "components/buttons"
@import "components/search"
@import "components/panel"
@import "components/modal"

// Blocks
@import "blocks/welcome"
@import "blocks/header"
@import "blocks/destinations"
@import "blocks/ownboat"
@import "blocks/boats"
@import "blocks/footer"