.mask
  position absolute
  z-index -1
  size(100%)
  overflow hidden
  background-color black

  img
    centralizer(true, true)
    opacity: 0.5


.section-title
  text-align center
  center(80px)

  h2
    text-transform uppercase
    font-size 30px

  p
    font-size 14px