.modal-window
  position fixed
  display none
  z-index 9999
  left 0
  top 0
  background-color white
  size(100%)

  h1
    margin-top 200px
    text-align center
    color $font-color

  .btn-transparent-red
    float right
    margin 40px

  .modal-description
    width 60%
    center(50px)

    p
      text-align center
      font-size 15px


.shown
  display block !important